<!DOCTYPE html>
<html lang="en" ng-app="billingProcess">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Bill Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body ng-controller="billCtrl">
    <div class="container-fluid">
        <h2 class="text-center mt-2">Pandian Stores</h2>
        <hr>
        <form id="bill">
            <div class="row g-3">
                <div class="form-group col-md-4">
                    <label for="customerName">Customer Name:</label>
                    <input type="text" class="form-control" id="customerName" ng-model="customerName" placeholder="Enter Customer Name" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="mobileNumber">Mobile Number:</label>
                    <input type="text" inputmode="numeric" pattern="[0-9]+" class="form-control" id="mobileNumber" ng-model="mobileNumber" placeholder="Enter Mobile Number" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="date" value="{{ currentDate | date:'dd-MMM-yyyy' }}" disabled readonly>
                </div>
                <div class="form-group col-md-2">
                    <label for="date">Time:</label>
                    <input type="text" class="form-control" id="time" value="{{ currentTime | date:'hh:mm:ss a' }}" disabled readonly>
                </div>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;" class="text-center">S.No</th>
                            <th scope="col" style="width: 40%;" class="text-center">Item Name</th>
                            <th scope="col" style="width: 11%;" class="text-center">MRP</th>
                            <th scope="col" style="width: 11%;" class="text-center">Qty</th>
                            <th scope="col" style="width: 11%;" class="text-center">Rate</th>
                            <th scope="col" style="width: 11%;" class="text-center">Total</th>
                            <th scope="col" style="width: 11%;" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="purchasingItems">
                        <tr ng-repeat="item in billedItems">
                            <td class="text-center">{{ item.sno}}</td>
                            <td>{{ item.itemName }}</td>
                            <td>{{ item.MRP | currency: "₹" }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.Rate | currency: "₹" }}</td>
                            <td>{{ (item.Rate * item.quantity) | currency: "₹" }}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-danger" id="remove" ng-click="removeItem($index)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{newItem.sno}}</td>
                            <td>
                                <input type="text" class="form-control" id="itemNameInput" ng-model="newItem.itemName" ng-keydown="handleKeydown($event)" ng-change="filterItems()" placeholder="Enter Item Name">
                                <ul class="list-group mt-2" ng-show="filteredItems.length">
                                    <li class="list-group-item" 
                                        ng-repeat="item in filteredItems" 
                                        ng-class="{ 'active': selectedIndex === $index }"
                                        ng-click="selectItem(item)"
                                        ng-keydown="handleKeydown($event)">
                                        {{ item.itemName }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="newItem.MRP" placeholder="MRP" disabled>
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model="newItem.quantity" min="0.001">
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="newItem.Rate" placeholder="Rate" disabled>
                            </td>
                            <td>{{ (newItem.Rate * newItem.quantity) | currency: "₹" }}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-primary" ng-click="addItem()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row g-3 m-2">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <label for="total">Total Amount:</label>
                    <input type="text" class="form-control" id="total" ng-model="totalAmount" readonly>
                </div>
            </div>
            <div class="row g-3 m-2">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <label for="amtReceived">Amount Received:</label>
                    <input type="text" class="form-control" id="amtReceived" ng-model="amtReceived">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="balance">Balance:</label>
                    <input type="text" class="form-control" id="balance" ng-model="balanceAmt" readonly>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-danger btn-print my-5" ng-click="print()">Print Receipt</button>
    </div>

    <script src="bill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
